
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=kojogyaase@gmail.com
ADMIN_PASSWORD=1234
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173,https://hs-platform.vercel.app,https://hs-admin-two.vercel.app,https://hs-admin.vercel.app,https://hs-platform-ten.vercel.app/
B2_APP_KEY=K005noSFz8GEMKZi27+s+6GZMypuZFo
B2_BUCKET=hs-platform
B2_KEY_ID=0056111f3192d6d0000000003
BETTER_AUTH_SECRET=ba_hcv6pb6hqw6tebr7h3q2vdxb881lzbuf
DATABASE_NAME=hs_backend_db
DATABASE_PASSWORD=4xm8jIspJuUCioVtmA0yg7HZk213BHtr
DATABASE_PORT=5432
DATABASE_URL=postgresql://hs_backend_db_user:4xm8jIspJuUCioVtmA0yg7HZk213BHtr@dpg-d8t8vpkm0tmc73c31n6g-a.oregon-postgres.render.com:5432/hs_backend_db
DATABASE_USERNAME=hs_backend_db_user
DEBUG=False
FRONTEND_URL=https://hs-platform-ten.vercel.app
SECRET_KEY=071ca68a8239fffae951db7fe395f6f58cd70f1ed22f1f46ff51c48778e2e865
TEST=fe9aa14ea9bcda1025d23a1974b923a3