fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic-settings
pydantic
alembic
python-multipart
email-validator
pytest
httpx
pyjwt
passlib[bcrypt]
bcrypt
boto3>=1.34
requests
requests
resend
stripe
redis
